* {
    color: purple;
  }

h2 {
    color: white;
    background-color: rgb(223, 16, 16);
  }

.p1 {
    color: black;
  }

#tsp {
    background-color: yellow;
  }

#tbsp {
    background-color: rgb(11, 230, 11);
  }

#tsp,
#tbsp {
    font-weight: bold;
  }

.comma.number {
    font-size: 26px;
  }

.comma {
    font-size: 36px;
  }

.number {
    font-size: 16px;
  }